/* 
the style here is the same as the home page so 
we can simply import that class name from profileSide 
to profile left file
*/
.ProfileLeft{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    overflow: auto;
}